*{
    margin:0 ;
     padding:0 ;
}
body
{
    height: 100%;
    width: 100%;
    background-image: url("Urban\ Fashion\ Img/background.png");
    
}
.conatiner{
    /* min-height: 100vh; */
    height: 100%;
    width: 100%;
    background-image: url("Urban\ Fashion\ Img/background.png");
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;
        
}
#divv{
    width : 40%
}
.content h1
{
    overflow: hidden;
    border-right: .15em solid  rgb(9, 206, 255); 
    white-space: nowrap; 
    margin: 0 auto;
    animation: 
    type 3s steps(40, end),
    blink.75s step-end infinite;
}
@keyframes type{
    from{width : 0}
    to{ width : 50%}
}
@keyframes blink
{
    from,to{border-color : transparent}
    50% {border-color: rgb(9, 206, 255);}
    90%{border-color: transparent;}
}

.navbar{
 
    /* margin: auto; */
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo{
    width: 160px;
    cursor: pointer;
}
nav{
    
    flex: 1;
    padding-left: 60px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #333;
}
.content{
    font-size: 60px;
    font-weight: 100;
    margin-top: 24px;
    margin-bottom: 15px;
    color: #232d60;
}
.content p{
    font-size: 20px;
    color: #6a7199;
  

    /* animation: 
    type 3s steps(40, end),
    blink.75s step-end infinite; */

}
.content{
    margin-left: 10%;
    margin-top: 10%;
}
.content .btn{
    display: inline-block;
    background: linear-gradient( 45deg, #87adfe, #ff77cd);
    border-radius: 6px;
    padding: 10px 20px;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    box-shadow: 3px 8px 22px rgba(94,28,68,0.15);
     
}
.arrow-icons{
    margin-top: 40px;
    height: 50%;
    width: 50%;
    display: flex;
}
.feature-img{
    height: 70%;
    position: absolute;
    bottom: 0;
    margin-left: 70%;
    /* align-items: right baseline; */
    /* right: 0px; */
}

#image
{   height: 10%;
    width: 10%;
    border-radius: 50%;
}

.bar_buttons
{   
    position: relative;
    margin-left: 50%;
}

.butt
{   
    font-size: 1.5vw;
}
.social-links{
    transform: rotate(-90deg);
    position: relative;
    display: flex;
    flex-direction: column;
    /* padding: 20px; */
    left: -740px;
    bottom: 800px;
}
.social-links a{
    text-decoration: none;
    color: #6a7199;
    padding-right: 20px;
    font-size: 14px;
}


@media screen and (max-width : 937px) {
    #divv{
        width : 60%
    }
nav ul li{
    display:block;}
    h1{
        font-size: 10vw;
    }
    .feature-img{
        height: 40%;
        margin-top: 110%;
    }
    #image{
        height: 25%;
        width: 25%;
    }
    .butt{font-size: 5.0vw;}
    .bar_buttons{margin-left: 25%;}
  
}